body {
    padding: 50px;
    font-family: Helvetica, sans-serif;
}

.left {
    padding: 15px;
    display: inline;
    width: 40%;
    float: left;
    border: 3px dashed black;
}

.right {
    padding: 15px;
    width: 40%;
    float: right;
    border: 3px dashed black;
}

.actorName {
    display: inline;
    margin-left: 30px;
}